@import "compass/css3";

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// We use these as default colors throughout
$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$color-function-factor: -20%;

// We use these to control button border styles.
$button-border-width: 0;
$button-border-style: solid;
$primary-color-hover: scale-color($primary-color, $lightness: $color-function-factor);

div.container {
  position: absolute;
  z-index: 999;
  background-color: $steel;
  width: 300px;
  height: auto;
}

div.momentpicker {
  position: absolute;
  z-index: 999;
  width: 300px;
  height: auto;
  color: $primary-color-hover;
  background-color: $white;
  border: 1px solid $iron;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;

  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  *:focus {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
  }

  a, span {
    color: $oil;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  div:after {
    content: "";
    display: block;
    clear: both;
  }

  div.header {
    position: relative;
    font-size: 1.5em;
    height: 2em;
    line-height: 2em;
    border-bottom: 4px solid $primary-color-hover;
    color: $primary-color;

    a {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      text-align: center;
      color: $primary-color;

      &.next, &.prev {
        width: 2em;
        overflow: hidden;

        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 0;
          height: 0;
          top: .5em;
          border: .5em solid transparent;
        }
      }

      &.next {
        right: 0;

        &:after {
          left: 1em;
          border-left-color: $primary-color;
        }
      }

      &.prev {
        left: 0;

        &:after {
          border-right-color: $primary-color;
        }
      }

      &.current {
        right: 2em;
        left: 2em;
      }
    }
  }

  div.body {
    position: relative;
    height: 13rem;
    color: $oil;

    .current {
      color: $jumbo;
      background-color: $snow;
    }


    .selected {
      color: $white;
      background-color: $primary-color;
    }

    span {
      background-color: $smoke;
    }

    div.week {
      color: $oil;
      background-color: $silver;

      span {
        line-height: 3em;
        width: (100% / 7);
        background-color: transparent;
      }
    }

    div.month {

      a, span {
        line-height: 2em;
        width: (100% / 7);
      }

    }

    a, span {
      @include box-sizing(border-box);
      display: block;
      float: left;
      text-align: center;

      &.prev, &.next {
        color: $iron;
      }
    }

    [data-year], [data-month] {
      width: 25%;
      line-height: 5em;
    }
  }

  &.top div.header a.current {
    cursor: default;
    pointer-events: none;
  }
}